<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/javascripts/additional-methods.min.js" type="text/javascript"></script>
    {% block header %} {% endblock %}
    <title>{% block title %} Apollo {% endblock %}</title>
    <!--[if IE ]>
    <script src=_"script/HTML5forIE.js"  type="text/javascript"></script>
    <![endif]-->
</head>
<body class="body">
    <header>
        {% block head %}
        {% endblock %}
        <nav>
        Dashboard | All People | Search | Account (Upgrade / Invoices) | Templates | Settings
        </nav>
    </header>
    <section>
       {% block content %} {% endblock %}
    </section>
     <aside>
        This is the side content
        {% block sidebar %} {% endblock %}
    </aside>
    <footer>
        {% block footer %}
        <a href="http://caritos.com">Caritos</a>
        {% endblock %}
    </footer>
</body>
</html>